<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Prognoza pogody</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/app.css" />
        {% block head %}{% endblock %}
    </head>
    <body>
		
		<div class="continer">
			<header>	
				{{ render(controller('App\\Controller\\SecurityController::topBar')) }}
			</header>
			<section>
				{% block body %}{% endblock %}
			</section>
		</div>	
			
    </body>
</html>
